[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/

*.csproj
*.unityproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj

# Rider / VSCode / VS
.idea/
.vscode/
*.tmp
*.svd
*.pdb

# Crash reports
sysinfo.txt
